name: Frontend E2E Tests
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    paths:
      - frontend/**
      - .github/workflows/ci-frontend-e2e.yml

defaults:
  run:
    working-directory: ./frontend

env:
  NODE_VERSION: 22
  LOCKFILE_PATH: ./frontend/package-lock.json
  PACKAGE_MANAGER: npm
  NODE_OPTIONS: --dns-result-order=ipv4first

jobs:
  e2e-tests:
    name: Run Local E2E Tests
    runs-on: ubuntu-22.04
    env:
      PLAYWRIGHT_TARGET_ENV: local
      PLAYWRIGHT_BASE_URL: http://127.0.0.1:3000

    strategy:
      fail-fast: true
      matrix:
        shard: [1, 2, 3, 4]
        total_shards: [4]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.PACKAGE_MANAGER }}
          cache-dependency-path: ${{ env.LOCKFILE_PATH }}

      - run: |
          npm ci
          npx playwright install --with-deps
          docker rmi node:22 node:20 node:18

      - name: Start API Server for e2e tests
        run: |
          cd ../api
          ulimit -c unlimited
          mkdir -p /tmp/cores
          echo "/tmp/cores/core.%e.%p.%t" | sudo tee /proc/sys/kernel/core_pattern
          make init
          echo "LOGIN_FINAL_DESTINATION=http://127.0.0.1:3000/api/auth/callback" >> override.env
          make db-seed-local-with-agencies populate-search-opportunities populate-search-agencies start
          cd ../frontend
          chmod +x ../api/bin/wait-for-api.sh
          ../api/bin/wait-for-api.sh
        shell: bash

      - name: Build prod version
        run: |
          {
            cat .env.development
            sed -En '/API_JWT_PUBLIC_KEY/,/-----END PUBLIC KEY-----/p' ../api/override.env
            cat ../api/e2e_token.tmp
          } >> .env.local
          sed -i 's|^SENDY_API_URL=.*|SENDY_API_URL=http://127.0.0.1:3000|' .env.local
          npm run build -- --no-lint

      - name: Run Local E2E Tests (Shard ${{ matrix.shard }}/${{ matrix.total_shards }})
        env:
          CI: true
          TOTAL_SHARDS: ${{ matrix.total_shards }}
          CURRENT_SHARD: ${{ matrix.shard }}
          PLAYWRIGHT_TARGET_ENV: local
          PLAYWRIGHT_BASE_URL: http://127.0.0.1:3000
        run: |
          npx playwright test ./e2e --shard $CURRENT_SHARD/$TOTAL_SHARDS

  e2e-login-staging:
    name: Login E2E (Staging)
    runs-on: ubuntu-22.04
    env:
      PLAYWRIGHT_TARGET_ENV: staging
      PLAYWRIGHT_BASE_URL: ${{ secrets.STAGING_BASE_URL }}
      STAGING_TEST_USER_EMAIL: ${{ secrets.STAGING_TEST_USER_EMAIL }}
      STAGING_TEST_USER_PASSWORD: ${{ secrets.STAGING_TEST_USER_PASSWORD }}
      STAGING_TEST_USER_MFA_KEY: ${{ secrets.STAGING_TEST_USER_MFA_KEY }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.PACKAGE_MANAGER }}
          cache-dependency-path: ${{ env.LOCKFILE_PATH }}

      - name: Install dependencies and Playwright
        run: |
          npm ci
          npx playwright install --with-deps

      - name: Run Staging Login Specs
        env:
          CI: true
        run: |
          npx playwright test ./e2e/login --grep "@login" --shard $CURRENT_SHARD/$TOTAL_SHARDS
